<!DOCTYPE html>
<html>
<head>
  <title>Vue Login Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <v-app>
    <v-container fluid>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Login</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form @submit.prevent="login">
                <v-text-field label="Username" v-model="username" required></v-text-field>
                <v-text-field label="Password" v-model="password" required type="password"></v-text-field>
                <v-btn type="submit" color="primary" class="mr-4">Login</v-btn>
                <v-btn color="secondary">Cancel</v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      username: '',
      password: ''
    },
    methods: {
      login: function () {
        // TODO: Add login logic here
      }
    }
  })
</script>
</body>
</html>
